@charset "utf-8";
/* CSS Document */

body {
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(../img/bg.png) !important;
	margin: 0 auto;
}
h1, h2, h3 {
	color: #45B0AB;
	padding-bottom: 11px;
	border-bottom: solid 1px #eee;
}

h1{	font-size: 23px;
}

h2 {
	font-size: 19px;
}

h3 {
	font-size: 17px;
}
select {
	margin-bottom: 30px;
	border: 1px solid #45B0AB;
	border-radius: 4px;
	height: 31px;
	width: 124px;
}
input {
	margin-bottom: 0px;
	border: 1px solid #45B0AB;
	border-radius: 4px;
	padding:10px -1px 10px 10px;
	background-color: rgba(69, 176, 171, 0.11);
}
ul {
	list-style: none;
	margin-left: -40px;
	text-align:left;
}
li {
	font-size: 15px;
	text-align: left;
	line-height: 30px;
	color: #4C4C4C;
}
#trueHeader .wrapper-sibbr {
	height: 55px;
}
.cor {
	color: #7B7979;
}
.submit {
	background-color: #45B0AB;
	border: 2px solid #45B0AB;
	border-color: #45B0AB;
	color: #fff;
	padding: 7px;
	border-radius: 4px;
	margin-bottom: 15px;
}
.submit:hover {
	background-color: #fff;
	color: #45B0AB;
	border-radius: 4px;
}
.container {
	position: relative;

	margin: 0 auto;
	padding: 25px 0px 10px 0px;
	width: auto;
max-width: 1170px;
}
.content {
	background-color: white;
	padding: 3px 30px 0px 30px;
	margin: 0 auto;
	width: auto;
max-width: 1170px;
}
.form-convert {
	font-size: 11px;
	line-height: 23px;
	text-align: left;
}
.ckeck {
	font-size:11px;
	color: #45B0AB;
}
.aceito {
	color:green;
	font-weight:bold;
	display: block;
}
.erro {
	color:red; 
	font-weight:bold;
	display: block;
}